.content {
    padding: 0 16px 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f9ffa37c;
    margin: 48px;
    border-radius: 8px;
    min-height: 450px;
  }
  
  .title {
    margin: 0 auto;
    padding: 20px;
    color: #161313;
  }
  
  .homePageContainer {
    width: 1280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }